<ion-view view-title="Form">
 <ion-content>
 <!-- <h1>tab-form.formatWeekTitle</h1> -->
<div class="calendar">
	<calendar calendar-mode="mode" event-source="eventSource">
</div>
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Store">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="CouponCode">
  </label>
  <label class="item item-input">
    <textarea placeholder="Calendar"></textarea>
  </label>
<button class="button button-block button-positive">
  Submit
</button>
</div>
</ion-content>
</ion-view>
